html {
   background: url(../resources/backGround.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.btn-info:hover{
   background-color: coral;
    border: 1px solid white;
}

.inner-box {
    margin-top: 10px;
}
.margin {
     margin-top: 10px;
}